@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');



body {background-color: RGB(81,81,137);
color:white;
font-size: 20px;
 font-family: 'Poppins', sans-serif;}
#title {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}
#description {
  font-size: 20px;
  text-align:center;
  margin: 2px;
  font-style: italic;
}
#survey-form {
  background-color: RGB(45,45,72);
  width: 60%;
  height: 90%;
  margin:auto;
  text-align: center;
  padding:30px 5px 30px 60px;
  margin-top: 30px;
  border-radius: 5px;
  text-align: left;
  
}

input[type="radio"], input[type="checkbox"]{
  margin-bottom:2%;
}

#submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  size:auto;
  float:center;
  width: 91%;
  font-size:20px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom:3%;
}
