<!DOCTYPE html>
<html lang= "en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Question Answering</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/styles.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		</head>
<body>
<h1 id="title">Simple Question Answering</h1>
<p id="description"> A Simple Game to Challenge AI</p>
<form id="survey-form" method="post">
  <p> {{question}}
  </p>
		{% for answer, choice in zip %}
  			{% if ai_choice == choice %}
				<input type="radio" id={{choice}} name='choice' value={{choice}}>
				<label for={{choice}} id="ai_choice">{{answer}}</label><br>
			{% else %}
				<input type="radio" id={{choice}} name='choice' value={{choice}}>
				<label for={{choice}}>{{answer}}</label><br>
			{% endif %}
		{% endfor %}
  <br>
	<button id="submit" type="submit" onclick="changeColor(event)">Submit</button>
</form>

{% block javascript %}
	<script>
		function changeColor(event)
		{
			blockEvent(event);
			document.getElementById("ai_choice").style.color="purple"; 
			blockEvent = (event) => {};
			setTimeout(function (){
				var btn = document.getElementById("submit");
				btn.click();
			}, 1000);
		}
		var blockEvent = (event) => {
			event.preventDefault();
		}
	</script>
{% endblock %}
</body>
</html>